/*==============================General Settings===============================*/
html, body {
    width: 1000px;
    height: 100%;
    font-family: arial, verdannada, san-serif;
    margin: 0;
    min-height: auto;
    background-image: url('../images/footer.jpg');
    background-repeat: repeat-y;
    background-color: black;
}

.float-clear {
    clear: both;
}

/*==============================Header section===============================*/
.navBar {
    height: 40px;
    width: 1000px;"
}

.queryBarContainer {
    height: 40px;
    width: 1000px;
    border-bottom: lightskyblue solid 1px;
    background-color: black;
}

.queryBarDropDownContainer {
    width: 580px;
    height: 40px;
    float: left;
}

.queryBarText {
    float:left;
    width:300px;
    color:#738569;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    font-size: 14px; line-height: 14px
}

.dropdown {
    float:left;
    padding: 3.6px 9px 3.6px 9px;
}

.dropdown-toggle {
    width: 240px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    font-size: 12px;
    text-align: left;
    margin-top: 4px;
}

/*==============================Footer section===============================*/
.footer {
    clear: both;
    height: 30px;
    width: 1000px;
    background-image: url('../images/footer.jpg');
}

#bottomSpacer {
    width: 40px;
    float: left;
}

#bottomNavContainer {
    width: 150px;
    float: left;
}

#bottomNavBar li {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    list-style-type: none;
}

#bNav1 {
    border-right: solid orange 2px;
}

#bottomNavBar a {
    display: block;
    color: #FC0;
    font-size: 14px;
}

#CPinfo {
    width: 810px;
    float: left;
    text-align: center;
    color: #738569;
    font-weight: bold;
    font-size: 13px;
}

/*==============================Result Page(General)=====================================*/
.content {
    clear: both;
}

.page_info {
    padding: 10px 20px;
    width: 450px;
    float: left;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 12px;
}

.page_info_label {
    margin-top: 12px;
    clear: both;
    width: 174px;
    text-align: right;
    float: left;
    color: #708591;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px 8px;
}

/*Rotate ad*/
.ad_temp {
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
    display: block;
}

/*Page left, each heading*/
.labelDivThick,.columnName {
    color: #FC0;
    clear: both;
    width: 174px;
    text-align: right;
    float: left;
    font-weight: bold;
    margin: 0 0 0 4px;
}

.columnName {
    height: 26px;
    font-weight: normal;
    color: #708591;
}

.columnName_small {
    font-size: 14px;
}
.infoDiv {
    padding: 10px 20px;
    width: 760px;
    float: left;
    margin-bottom: 20px;
}

.parHead {
    color: #FC0;
    margin-bottom: 8px;
    font-weight: bold;
    height: 16px;
}

.parText {
    color: #738569;
    font-size: 15px;
    margin-bottom: 10px;
}

/*Results from the Database*/
.resultLabel {
    color: #c5c5c4;
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 6px;
    margin-left: 30px;
    width: 300px;
    height: 22px;
    display: inline-block;
}

.input {
    border-radius: 4px;
    height: 26px;
}

.button {
    border-radius: 4px;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
}
/*==============================Protein query Result Page=====================================*/



/*==============================Protein info Result Page=====================================*/
.result_GeneOntology {
    margin-right:30px;
}

/*==============================Drug info Result Page=====================================*/
.query_info, .filter_info {
    padding: 10px 20px;
    width: 800px;
    float: left;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 12px;
}

.filter_info {
    margin-bottom: 0px;
}

.structure_img_label {
    color: #708591;
    font-size: 15px;
}

/*Compound structure image(below the rotate ad)*/
.structure_img {
    width: 400px;
    margin-bottom: 20px;
    float: right;
    text-align: center;
}

.structure_img img {
    width: 50%;
}

#drugInforDropDown {
    width: 30%;
    margin-top: 30px;
    display: none;

}

/*==============================Credits=====================================*/
.credits_label {
    margin-top: 12px;
    clear: both;
    width: 174px;
    text-align: right;
    float: left;
    color: #FC0;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px 8px;
}

.credits_body_container {
    height: 300px;
}
.credits_page_info {
    padding: 10px 20px;
    width: 80%;
    float: left;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 12px;
}

.credits_parText {
    font-size: 15px;
    margin-bottom: 10px;
    color: darkseagreen;
}